.cards {
  grid-area: cards;
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ececec;
  justify-content: center;
}

.cards h2 {
  flex: 0 0 100%;
}

.cards h3 {
  font-weight: 500;
  margin-bottom: .5rem;
  flex: 1 0 auto;
}

.cards p {
  font-size: .75rem;
  margin-bottom: .75rem;
}

.card-content {
    border: 3px solid #ececec;
    padding: 1rem;
    border-radius: 8px;
    margin: 5px;
  }
