footer {
  grid-area: ft;
  color: #fff;
  background-color: #9f9c9c;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

footer p {
    font-size: 12px;
    padding: 10px;
}

.copyright {
  color: #434344;
  /* float: center; */
  /* margin-left: 30px; */
}

footer img {
   float: center;
   margin-right: 10px;
   margin-left: 10px;
}
