@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url("./buttons/buttons.css");
@import url("./nav_bar/nav_bar.css");
@import url("./header/header.css");
@import url("/cards/cards.css")

a {
  color: black;
}

a:hover {
  color: blue;
}

a:active {
  color: purple;
}
