 .sidebar {
  /* grid-column: 1 / 2;
  grid-row: 3 / 5; */
  grid-area: sd;
  min-height: 200px;
  border-top: 3px solid #693f7e;
  background-color: #f9f9f9;
}

.sidebar h3 {
  margin-top: .75rem;
}

.sidebar ul {
  list-style-type: none;
  margin-top: 1rem;
  font-size: .75rem;
}

.sidebar ul > li {
    padding: .25rem 0;
}

.sidebar img {
  max-width: 100%;
}
