 header {
   color: #9f9c9c;
   padding: 20px 0;
   margin-buttom: 40px;
   text-transform: uppercase;
   border-bottom: 2px solid #b0e0ea;
   grid-area: header;
   display: grid;
   justify-content: space-between;
   grid-template-columns: 1fr 1fr;
 }
