@import url("./header/header.css");
@import url("./navbar/navbar.css");
@import url("./footer/footer.css");

* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-align: center;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
  background-color: #fff;
  color: #333;
}

.container {
  position: relative;
  height: 100vh;
  color: #fff;
  padding: 1.5em;
}

.container h1 {
  position: relative;
  text-align: center;
  font-size: 3em;
  padding-top: 5vh;
}

.container h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  padding: 5vh;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

#about-section {background-color: #3f3d68;}
#work-section {background-color: #ed0e0e;}
#interests-section {background-color: #3f3d68;}
#contact-section {
  background-color: #ed0e0e;
  height: 80vh;
}

@media screen and (max-width: 500px){
  .navbar {
    padding: 0 0;
    text-align: center;
    line-height: 40px;
    /* font-size: 0.5em; */
  }

  .container {
    height: 100vh;
  }

  .container h1 {
    padding-top: 30vh;
  }

  .container h2 {
      font-size: 1em;
      transform: translate(-50%, -20%);
  }
}

@media screen and (min-width: 501px){
  .navbar {
    padding: 0 0;
    text-align: center;
    line-height: 50px;
  }

  .container {
    height: 100vh;
  }

  .container h1 {
    padding-top: 20vh;
  }

  .container h2 {
      font-size: 1.5em;
      transform: translate(-50%, -20%);
  }
}

 @media(min-width: 800px) {
   .navbar {
     padding: 0 30px;
     text-align: center;
     line-height: 60px;
   }

   .container {
     height: 100vh;
   }

   .container h1 {
     font-size: 3em;
     padding-top: 15vh;
   }

   .container h2 {
       font-size: 2em;
       transform: translate(-50%, -20%);
   }
}

@media(min-width: 1500px) {
  #contact-section {
    height: 90vh;
  }
}
