@import url("./header/header.css");
@import url("./navbar/navbar.css");
@import url("./footer/footer.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

.container {
  position: relative;
  height: 100vh;
  color: #fff;
  padding: 1em;
}

.container h1 {
  font-size: 10vh;
  padding: 100px;
}

.container h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 3vh;
}

.container h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-style: italic;
  font-size: 1vh;
}

#about-section {background-color: #333;}
#work-section {background-color: #ff0000;}
#interests-section {background-color: #002561;}
#contact-section {background-color: #e34f26;}
