@import url("./header/header.css");

section {
    position: relative;
    min-height: 80vh;
    margin: 100px;
}

/* a {
    color: inherit;
    text-decoration: none;
} */

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
    border-bottom: 1px solid #cc1;
}

body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%,
    rgba(0,13,60,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}

ul {
      overflow: hidden;
      background-color: #42cde1;
      position: fixed;
      top: 0;
      margin: 0;
      padding: 0;
      width: 100%;
    }
    ul li {
      list-style-type: none;
      display: inline-block;
    }
    ul li a {
      display: block;
      color: #eeeeee;
      text-align: center;
      padding: 15px 30px 15px 20px;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      font-family: arial;
    }
    .navbar a:hover {
      color: #ffffff;
    }
    .container {
      padding: 18px;
      margin-top: 35px;
      height: 2000px;
    }
