.avatar {
  grid-area: av;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar h3 {
  font-size: 20;
}

.avatar p {
  font-size: 1rem;
}

.avatar img {
  border-radius: 50%;
  width: 150px;
}

.avatar ul {
  list-style-type: none;
}
