.content {
  position: relative;
  grid-area: cont;
}

.content h1 {
  font-size: 32px;
  margin-bottom: 1rem;
  color: #50c6db;
}

.content h2 {
  font-size: 27px;
  margin-bottom: 1rem;
  color: #50c6db;
}

.content p {
  font-size: 1rem;
  margin-bottom: .75rem;
}

#year-place {
  font-weight: bold;
  text-decoration: underline black;
}

.post {
  padding-bottom: 30px
}

.prev-story {
  position: absolute;
  bottom: 0;
  left: 0;
}

.next-story {
  position: absolute;
  bottom: 0;
  right: 0;
}
