.content {
  position: relative;
  grid-area: cont;
}

.content h2 {
  font-size: 32px;
  margin-bottom: 1rem;
  color: #50c6db;
}

.content p {
  font-size: 1rem;
  margin-bottom: .75rem;
}

.prev-story {
  position: absolute;                  /* added */
  bottom: 0;                           /* added */
  left: 0;
}

.next-story {
  position: absolute;                  /* added */
  bottom: 0;                           /* added */
  right: 0; 
}
