.content {
  grid-area: cont;
  /* grid-column: 2 / 4;
  grid-row: 2 / 3; */
  /* min-height: 500px;
  background-color: #f5c531; */
}

.content h2 {
  font-size: 32px;
  margin-bottom: 1rem;
  color: #50c6db;
}

.content p {
  font-size: 1rem;
  margin-bottom: .75rem;
}
